<form name="signupForm" ng-submit="trySignup();">
  <div class="control-group">
    <label class="control-label">Complete name</label>
    <div class="controls">
      <input type="text" ng-model="userData.name" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <input type="text" ng-model="userData.username" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <input type="password" ng-model="userData.password" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <input type="email" ng-model="userData.email" required>
    </div>
  </div>
  <p>
    <a href="#/" title="">I already have an account.</a>
  </p>
  <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-primary">Sign-up</button>
</form>
